html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main, section, div {
  border: 1px solid red;
  margin: 1px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  /* body {
    color: white;
    background: black;
  } */
}

/* Add a black background color to the top navigation */
.menu-button {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu-button a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.menu-button a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.menu-button a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.menu-button {
  float: right;
}